<a href="https://colab.research.google.com/github/James-Hagerman/DS-Unit-2-Linear-Models/blob/master/module3-ridge-regression/W1D3_Assign_LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [x] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [x] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [x] Do one-hot encoding of categorical features.
- [x] Do feature selection with `SelectKBest`.
- [x] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [x] Get mean absolute error for the test set.
- [x] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [278]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [279]:
import pandas as pd
import pandas_profiling
import numpy as np

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv', parse_dates= ['SALE DATE'], index_col= 'SALE DATE')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [280]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [281]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

#Subset

In [282]:
df.head()

           BOROUGH  ... SALE_PRICE
SALE DATE           ...
2019-01-01       1  ...          0
2019-01-01       1  ...          0
2019-01-01       1  ...          0
2019-01-01       1  ...          0
2019-01-01       1  ...          0

[5 rows x 20 columns]

In [283]:
df['NEIGHBORHOOD'].value_counts()

OTHER                      19117
FLUSHING-NORTH               685
UPPER EAST SIDE (59-79)      465
UPPER EAST SIDE (79-96)      410
BEDFORD STUYVESANT           408
BOROUGH PARK                 376
UPPER WEST SIDE (59-79)      350
GRAMERCY                     323
ASTORIA                      312
FOREST HILLS                 298
UPPER WEST SIDE (79-96)      296
Name: NEIGHBORHOOD, dtype: int64

In [284]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 23040 entries, 2019-01-01 to 2019-04-30
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         23040 non-null  object
 1   NEIGHBORHOOD                    23040 non-null  object
 2   BUILDING_CLASS_CATEGORY         23040 non-null  object
 3   TAX_CLASS_AT_PRESENT            23039 non-null  object
 4   BLOCK                           23040 non-null  int64
 5   LOT                             23040 non-null  int64
 6   EASE-MENT                       0 non-null      float64
 7   BUILDING_CLASS_AT_PRESENT       23039 non-null  object
 8   ADDRESS                         23040 non-null  object
 9   APARTMENT_NUMBER                5201 non-null   object
 10  ZIP_CODE                        23039 non-null  float64
 11  RESIDENTIAL_UNITS               23039 non-null  float64
 12  COMMERCIAL_UNITS                23039 non-null  float64
 13  TOTAL_UNITS                     23039 non-null  float64
 14  LAND_SQUARE_FEET                22987 non-null  object
 15  GROSS_SQUARE_FEET               23039 non-null  float64
 16  YEAR_BUILT                      23005 non-null  float64
 17  TAX_CLASS_AT_TIME_OF_SALE       23040 non-null  int64
 18  BUILDING_CLASS_AT_TIME_OF_SALE  23040 non-null  object
 19  SALE_PRICE                      23040 non-null  int64
dtypes: float64(7), int64(4), object(9)
memory usage: 3.7+ MB

In [285]:
cat = df[df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS']

In [286]:
cat.head()

           BOROUGH NEIGHBORHOOD  ... BUILDING_CLASS_AT_TIME_OF_SALE SALE_PRICE
SALE DATE                        ...
2019-01-01       2        OTHER  ...                             A1          0
2019-01-01       2        OTHER  ...                             A5          0
2019-01-01       2        OTHER  ...                             A5          0
2019-01-01       3        OTHER  ...                             A1          0
2019-01-01       3        OTHER  ...                             A9     550000

[5 rows x 20 columns]

In [287]:
cat.shape

(5061, 20)

In [288]:
subset = ((cat['SALE_PRICE'] > 100000) & 
          (cat['SALE_PRICE'] < 2000000))

In [289]:
data = cat[subset]

In [290]:
data.tail()

           BOROUGH NEIGHBORHOOD  ... BUILDING_CLASS_AT_TIME_OF_SALE SALE_PRICE
SALE DATE                        ...
2019-04-30       4        OTHER  ...                             A2     635000
2019-04-30       4        OTHER  ...                             A1     514000
2019-04-30       4        OTHER  ...                             A0     635000
2019-04-30       4        OTHER  ...                             A1     545000
2019-04-30       4        OTHER  ...                             A5     510000

[5 rows x 20 columns]

In [291]:
data.shape

(3151, 20)

In [292]:
data['LAND_SQUARE_FEET'] = data['LAND_SQUARE_FEET'].str.replace(',', '')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [293]:
data['LAND_SQUARE_FEET'] = pd.to_numeric(data['LAND_SQUARE_FEET'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [313]:
data['LAND_SQUARE_FEET']

SALE DATE
2019-01-01    6800
2019-01-01    4000
2019-01-02    3500
2019-01-02    4000
2019-01-02    1710
              ...
2019-04-30    3300
2019-04-30    2400
2019-04-30    4000
2019-04-30    2500
2019-04-30    1800
Name: LAND_SQUARE_FEET, Length: 3151, dtype: int64

#Split Data

##Target and Feature Matrix

In [294]:
y = data['SALE_PRICE']
X = data.drop(['SALE_PRICE','BUILDING_CLASS_AT_PRESENT',
             'BUILDING_CLASS_CATEGORY', 'EASE-MENT',
             'ADDRESS', 'APARTMENT_NUMBER',
             'TAX_CLASS_AT_PRESENT', 'BOROUGH' 
             ], axis = 1)

print(y.shape)
print(X.shape)

(3151,)
(3151, 12)

In [295]:
X.tail()

           NEIGHBORHOOD  ...  BUILDING_CLASS_AT_TIME_OF_SALE
SALE DATE                ...
2019-04-30        OTHER  ...                              A2
2019-04-30        OTHER  ...                              A1
2019-04-30        OTHER  ...                              A0
2019-04-30        OTHER  ...                              A1
2019-04-30        OTHER  ...                              A5

[5 rows x 12 columns]

In [296]:
X['NEIGHBORHOOD'].value_counts()

OTHER                 2990
FLUSHING-NORTH          97
FOREST HILLS            22
BOROUGH PARK            19
ASTORIA                 14
BEDFORD STUYVESANT       9
Name: NEIGHBORHOOD, dtype: int64

In [297]:
# Training data split
X_train = X.loc['2019-01':'2019-03']
y_train = y.loc['2019-01':'2019-03']

# Test Data Split
X_test = X.loc['2019-04':'2019-04']
y_test = y.loc['2019-04':'2019-04']

In [298]:
X_test.head()

           NEIGHBORHOOD  ...  BUILDING_CLASS_AT_TIME_OF_SALE
SALE DATE                ...
2019-04-01        OTHER  ...                              A1
2019-04-01        OTHER  ...                              A2
2019-04-01        OTHER  ...                              A1
2019-04-01        OTHER  ...                              A5
2019-04-01        OTHER  ...                              A9

[5 rows x 12 columns]

In [299]:
X_train.head()

           NEIGHBORHOOD  ...  BUILDING_CLASS_AT_TIME_OF_SALE
SALE DATE                ...
2019-01-01        OTHER  ...                              A9
2019-01-01        OTHER  ...                              A1
2019-01-02        OTHER  ...                              A1
2019-01-02        OTHER  ...                              A1
2019-01-02        OTHER  ...                              A5

[5 rows x 12 columns]

#Baseline

In [300]:
y_train.mean()

621573.7423214999

In [301]:
from sklearn.metrics import mean_absolute_error

print('Baseline MAE:', mean_absolute_error(y_train, [y_train.mean()]*len(y_train)))

Baseline MAE: 214721.52773001452

#One-Hot Encoding

In [302]:
from category_encoders import OneHotEncoder

In [303]:
transformer_1 = OneHotEncoder(use_cat_names= True, cols = ['NEIGHBORHOOD', 'BUILDING_CLASS_AT_TIME_OF_SALE'])

transformer_1.fit(X_train)

XT_train = transformer_1.transform(X_train)

In [304]:
XT_train.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2507 entries, 2019-01-01 to 2019-03-30
Data columns (total 27 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NEIGHBORHOOD_OTHER                 2507 non-null   int64
 1   NEIGHBORHOOD_FLUSHING-NORTH        2507 non-null   int64
 2   NEIGHBORHOOD_BEDFORD STUYVESANT    2507 non-null   int64
 3   NEIGHBORHOOD_FOREST HILLS          2507 non-null   int64
 4   NEIGHBORHOOD_BOROUGH PARK          2507 non-null   int64
 5   NEIGHBORHOOD_ASTORIA               2507 non-null   int64
 6   BLOCK                              2507 non-null   int64
 7   LOT                                2507 non-null   int64
 8   ZIP_CODE                           2507 non-null   float64
 9   RESIDENTIAL_UNITS                  2507 non-null   float64
 10  COMMERCIAL_UNITS                   2507 non-null   float64
 11  TOTAL_UNITS                        2507 non-null   float64
 12  LAND_SQUARE_FEET                   2507 non-null   int64
 13  GROSS_SQUARE_FEET                  2507 non-null   float64
 14  YEAR_BUILT                         2507 non-null   float64
 15  TAX_CLASS_AT_TIME_OF_SALE          2507 non-null   int64
 16  BUILDING_CLASS_AT_TIME_OF_SALE_A9  2507 non-null   int64
 17  BUILDING_CLASS_AT_TIME_OF_SALE_A1  2507 non-null   int64
 18  BUILDING_CLASS_AT_TIME_OF_SALE_A5  2507 non-null   int64
 19  BUILDING_CLASS_AT_TIME_OF_SALE_A0  2507 non-null   int64
 20  BUILDING_CLASS_AT_TIME_OF_SALE_A2  2507 non-null   int64
 21  BUILDING_CLASS_AT_TIME_OF_SALE_A3  2507 non-null   int64
 22  BUILDING_CLASS_AT_TIME_OF_SALE_S1  2507 non-null   int64
 23  BUILDING_CLASS_AT_TIME_OF_SALE_A4  2507 non-null   int64
 24  BUILDING_CLASS_AT_TIME_OF_SALE_A6  2507 non-null   int64
 25  BUILDING_CLASS_AT_TIME_OF_SALE_A8  2507 non-null   int64
 26  BUILDING_CLASS_AT_TIME_OF_SALE_S0  2507 non-null   int64
dtypes: float64(6), int64(21)
memory usage: 548.4 KB

#K-best

In [305]:
from sklearn.feature_selection import SelectKBest

In [306]:
transformer_2 = SelectKBest(k = 26)

transformer_2.fit(XT_train, y_train)

XTT_train = transformer_2.transform(XT_train)

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:114: UserWarning: Features [15 26] are constant.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

#Linear Regression

In [307]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(XTT_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

##Metrics

In [308]:
y_pred = model.predict(XTT_train)

print('Training MAE:', mean_absolute_error(y_train, y_pred))

Training MAE: 155071.42686708478

#Ridge Regression

In [309]:
from sklearn.linear_model import Ridge 

model_2 = Ridge(alpha = 1)

model_2.fit(XTT_train, y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [310]:
y_pred = model_2.predict(XTT_train)

print('Trainging MAE:', mean_absolute_error(y_train, y_pred))

Trainging MAE: 155191.68226718897

In [311]:
XT_test = transformer_1.transform(X_test)
XTT_test = transformer_2.transform(XT_test)

y_pred = model_2.predict(XTT_test)

print('Test MAE:', mean_absolute_error(y_test, y_pred))

Test MAE: 154125.74267018682